<div class="row justify-content-center">
    <div class="col-12 col-sm-6">
        <h4>Crear Nueva tarea</h4>
        <ngb-alert [dismissible]="false">
            <strong>Aclaración!</strong> En caso de agregar una sola persona no es necesario presionas "Añadir persona".
        </ngb-alert>
    </div>
</div>
<form [formGroup]="taskForm" novalidate autocomplete="off">
    <div class="row g-3 mb-3 justify-content-center">
        <div class="col-12 col-sm-3">
            <label for="taskName" class="col-form-label">Nombre de la tarea</label>
        </div>
        <div class="col-12 col-sm-3">
            <input type="text" id="taskName" class="form-control" formControlName="name"
                [ngClass]="getValidationClassByControl(taskForm.controls.name)">
            <div class="invalid-feedback">
                Campo requerido.
            </div>
        </div>
    </div>
    <div class="row g-3 mb-3 justify-content-center">
        <div class="col-12 col-sm-3">
            <label for="limitTask" class="col-form-label">Fecha límite</label>
        </div>
        <div class="col-12 col-sm-3">
            <div class="input-group">
                <input
                    id="limitTask"
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="dp"
                    formControlName="limitDate"
                    ngbDatepicker
                    #d="ngbDatepicker"
                    [minDate]="today"
                    [ngClass]="getValidationClassByControl(taskForm.controls.limitDate)"
                />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
                <div class="invalid-feedback">
                    @if(taskForm.controls.limitDate.errors?.['ngbDate']?.invalid) {
                        Campo invalido.
                    }
                    @else if(taskForm.controls.limitDate.errors?.['ngbDate']?.minDate) {
                        La fecha debe ser mayor o superior al dia actual
                    }
                    @else if (taskForm.controls.limitDate.errors) {
                        Campo requerido.
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <h6 class="col-12 col-sm-6">Personas Asociadas</h6>
    </div>
    <div formArrayName="persons">
        @for (person of taskForm.controls.persons.controls; track person; let in = $index) {
            <div formGroupName="{{in}}">
                <div class="row g-3 mb-3 justify-content-center">
                    <div class="col-12 col-sm-3">
                        <label for="completeNamePerson-{{in}}" class="col-form-label">Nombre completo</label>
                    </div>
                    <div class="col-12 col-sm-3">
                        <input type="text" id="completeNamePerson-{{$index}}" class="form-control" formControlName="completeName"
                            [ngClass]="getValidationClassByControl(person.controls['completeName'])">
                        <div class="invalid-feedback">
                            @if(person.controls['completeName'].errors?.['required']) {
                                Campo requerido.
                            }
                            @else if(person.controls['completeName'].errors?.['minlength']) {
                                Debe tener al menos 5 caracteres.
                            }
                            @else if(person.controls['completeName'].errors?.['duplicated']) {
                                El nombre ya se encuentra usado por otra persona.
                            }
                        </div>
                    </div>
                </div>
                <div class="row g-3 mb-3 justify-content-center">
                    <div class="col-12 col-sm-3">
                        <label for="yearPerson-{{$index}}" class="col-form-label">Edad</label>
                    </div>
                    <div class="col-12 col-sm-3">
                        <input type="number" id="yearPerson-{{$index}}" class="form-control" formControlName="years"
                        [ngClass]="getValidationClassByControl(person.controls['years'])">
                        <div class="invalid-feedback">
                            @if(person.controls['years'].errors?.['required']) {
                                Campo requerido.
                            }
                            @else if(person.controls['years'].errors?.['min']) {
                                Debe ser mayor de 18 años.
                            }
                        </div>
                    </div>
                </div>
                <div class="row g-3 mb-3 justify-content-center">
                    <div class="col-12 col-sm-6">
                        <h6>Habilidades:</h6>
                    </div>
                </div>
                <div class="row g-3 mb-3 justify-content-center">
                    <div formArrayName="skills" class="col-12 col-sm-3 offset-md-3">
                        @for (skill of getSkills(person); track skill; let i = $index) {
                            <div formGroupName="{{i}}">
                                <input type="text" id="skill-{{in}}-{{i}}" class="form-control" formControlName="skill"
                                    [ngClass]="getValidationClassByControl(skill)">
                                <div class="invalid-feedback">
                                    @if(skill.errors?.['required']) {
                                        Campo requerido.
                                    }
                                </div>
                            </div>
                            <div class="mt-3 mb-3 text-end">
                                @if(i === 0) {
                                    <button type="button" class="btn btn-secondary" [disabled]="skill.invalid" (click)="addSkill(skill, in)">Añadir Habilidad</button>
                                }
                                @else {
                                    <button type="button" class="btn btn-danger" (click)="deleteSkill(in, i)">Eliminar Habilidad</button>
                                }
                            </div>
                        }
                    </div>
                </div>
                <div class="row justify-content-center mb-3">
                    <div class="col-12 col-sm-6 text-end">
                        @if($index === 0) {
                            <button type="button" class="btn btn-secondary" [disabled]="person.invalid" (click)="addPerson()">Añadir persona</button>
                        }
                        @else {
                            <button type="button" class="btn btn-danger" (click)="deletePerson($index)">Eliminar persona</button>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-12 col-sm-6 text-end">
            <button type="button" class="btn btn-primary" [disabled]="taskForm.invalid" (click)="saveTask()">Guardar Tarea</button>
        </div>
    </div>
</form>